<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table table-compact">
                    <tr>
                        <td>
                            <input type="file"
                            id="file" accept=".xls,.xlsx"
                            (change)="handleFileInput($event)">
                                         </td>
                        <td>
                            <button type="button" class="btn btn-success" (click)="uploadExcel($event)">Parse</button> <button *ngIf="loadedJsonObject && loadedJsonObject.length > 0" (click)="openModal('jsonData')" class="btn btn-info">Show Json Data</button>
                        </td>
                    </tr>
                    <tr *ngIf="loadedJsonObject">
                        <td>
                            {{loadedJsonObject.length}} rows loaded.
                            <jw-modal id="jsonData" >
                                <pre>
                                {{loadedJsonObject | json}}
                                </pre>
                                <button (click)="closeModal('jsonData');" class="btn btn-danger pull-right">Close</button>
                                <br/>
                            </jw-modal>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <json-to-table [jsonData]="loadedJsonObject"></json-to-table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>